html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 2rem;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/** CODIGO AQUI **/
.contenedor {
    max-width: 120rem; /* TO EVOID BIG SCREEN SIZE STYLE PROBLEMS */ 
    width: 90%; /* USE % OVER rem and px TO MAKE IT FLUID WITH THE SCREEN SIZES */
    margin: 0 auto;
}
@media (min-width: 768px) {
    .contenedor {
        width: 80%; /* USE % OVER rem and px TO MAKE IT FLUID WITH THE SCREEN SIZES */
    }
}
@media (min-width: 992px) {
    .contenedor {
        width: 60%; /* USE % OVER rem and px TO MAKE IT FLUID WITH THE SCREEN SIZES */
    }
}
img {
    max-width: 100% /* ON IMAGES, THE max-width helps to make the size of the image fluid with the screen size */
}